[submodule "properties"]
	path = properties
	url = https://github.com/project-porko/porko-properties.git
[submodule "vault"]
	path = vault
	url = https://github.com/project-porko/porko-properties.git
